Build/NodeRed/flows_iefdemo.json.old
[{"id":"25bbec91.83a104","type":"tab","label":"LiveObject_To_FE_DIS","disabled":false,"info":""},{"id":"3386b483.b4b5c4","type":"mqtt in","z":"25bbec91.83a104","name":"Connect to MQTT Broker","topic":"$(MQTT_TOPIC)","qos":"2","datatype":"auto","broker":"e7300b3f.08e58","nl":false,"rap":false,"inputs":0,"x":150,"y":100,"wires":[["ecb7fc97.32c5a8"]]},{"id":"ecb7fc97.32c5a8","type":"json","z":"25bbec91.83a104","name":"Convert Mqtt Msg to JSON","property":"payload","action":"","pretty":false,"x":480,"y":100,"wires":[["fc17d731.f4061","a4545736.c831","1c1e7cc3.794063"]]},{"id":"fc17d731.f4061","type":"debug","z":"25bbec91.83a104","name":"mqtt_received_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"1c1e7cc3.794063","type":"function","z":"25bbec91.83a104","name":"Flexible Engine Https Authentication Token Message","func":"msg.method = 'POST'\nmsg.url = 'https://iam.eu-west-0.prod-cloud-ocb.orange-business.com/v3/auth/tokens'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json;charset=utf8';\n//msg.payload = '{\"auth\":{\"identity\":{\"methods\":[\"password\"],\"password\":{\"user\":{\"name\":\"ernest.nam.hee\",\"password\":\"5Tvmdlmdms15e@\",\"domain\":{\"name\":\"OCB0001686\"}}}},\"scope\":{\"project\":{\"name\":\"eu-west-0\"}}}}'\n\n\nlet DIS_TOKEN_USERNAME = env.get(\"DIS_TOKEN_USERNAME\");\nlet DIS_TOKEN_PASSWORD = env.get(\"DIS_TOKEN_PASSWORD\");\nlet DIS_PROJECT = env.get(\"DIS_PROJECT\");\n\n\nmsg.payload = {\"auth\":{\"identity\":\n{\"methods\":[\"password\"],\n\"password\":{\"user\":\n{\"name\":DIS_TOKEN_USERNAME,\n\"password\":DIS_TOKEN_PASSWORD,\n\"domain\":{\"name\":\"OCB0001686\"}}}},\n\"scope\":{\"project\":{\"name\":DIS_PROJECT}}}}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["dab750af.24599"]]},{"id":"99b0f5ea.868258","type":"http request","z":"25bbec91.83a104","name":"Flexible Engine Https Authentication Token Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":340,"wires":[["5df6b4c3.c7b3e4"]]},{"id":"5df6b4c3.c7b3e4","type":"switch","z":"25bbec91.83a104","name":"Token Is Available ?","property":"headers.x-subject-token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":340,"wires":[["feeff665.911648"],[]]},{"id":"98fd00f0.983e58","type":"function","z":"25bbec91.83a104","name":"Flexible Engine DIS Record Message","func":"var disToken = flow.get(\"disToken\");\nvar disStreamName = flow.get(\"disStreamname\");\nvar disPartition = flow.get(\"disPartition\");\n\nvar disData = flow.get(\"base64payload\");\n\nmsg.method = 'POST'\nmsg.url = 'https://dis.eu-west-0.prod-cloud-ocb.orange-business.com/v2/cddffdf04cf441c8b94aac85dfdc2a69/records'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['X-Auth-Token'] = disToken;\n//msg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"MTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE=\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\n//msg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"' + myData +'\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\nmsg.payload = {\"stream_name\": disStreamName,\n\"records\": [{\"data\": disData ,\n\"explicit_hash_key\": null,\n\"partition_key\": disPartition}]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["1dc6db34.ef72fd"]]},{"id":"1dd0e16a.05491f","type":"http request","z":"25bbec91.83a104","name":"Flexible Engine DIS Record Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":540,"wires":[["554c0fb9.581c5"]]},{"id":"feeff665.911648","type":"change","z":"25bbec91.83a104","name":"Copy Flexible Engine Authorization Token & Streams","rules":[{"t":"set","p":"disToken","pt":"flow","to":"headers.x-subject-token","tot":"msg"},{"t":"set","p":"disStreamname","pt":"flow","to":"$(DIS_STREAMNAME)","tot":"str"},{"t":"set","p":"disPartition","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":560,"wires":[["98fd00f0.983e58"]]},{"id":"18fe1315.95af8d","type":"debug","z":"25bbec91.83a104","name":"FE_dis_record_Tosend_msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":420,"wires":[]},{"id":"554c0fb9.581c5","type":"debug","z":"25bbec91.83a104","name":"FE_dis_record_request","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":640,"wires":[]},{"id":"a4545736.c831","type":"base64","z":"25bbec91.83a104","name":"Encode MQTT Payload to Base64","action":"str","property":"payload","x":280,"y":240,"wires":[["e1030f1e.053ee"]]},{"id":"e1030f1e.053ee","type":"change","z":"25bbec91.83a104","name":"Save MQTT Payload (base64)","rules":[{"t":"set","p":"base64payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[[]]},{"id":"1dc6db34.ef72fd","type":"json","z":"25bbec91.83a104","name":"Convert to Json String","property":"payload","action":"str","pretty":false,"x":980,"y":480,"wires":[["1dd0e16a.05491f","18fe1315.95af8d"]]},{"id":"dab750af.24599","type":"json","z":"25bbec91.83a104","name":"Convert to Json String","property":"payload","action":"str","pretty":false,"x":480,"y":420,"wires":[["99b0f5ea.868258","35cdd6e4.822c3a"]]},{"id":"35cdd6e4.822c3a","type":"debug","z":"25bbec91.83a104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":240,"wires":[]},{"id":"e7300b3f.08e58","type":"mqtt-broker","name":"Connect to MQTT Broker","broker":"$(MQTT_BROKER_URI)","port":"1883","clientid":"mqtt2dis","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]